@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #000000;
    --secondaryBlack: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
    --white: #ffffff;
}

body {
    margin: 0;
}

#course-title {
    display: block;
}

nav {
    background-color: var(--secondaryBlack);
    width: 100%
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: auto;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: auto;
}

nav a {
    display: block;
    color: var(--grey);
    text-align: center;
    padding: 1rem;
    font-family: roboto;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: var(--orange);
}