@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #000000;
    --secondaryBlack: #14213d;
    --orange: #fca311;
    --grey: #e5e5e5;
    --white: #ffffff;
}


html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

main {
    width: 90%;
    margin: 0 auto;
}

nav {
    background-color: var(--secondaryBlack);
    display: block;
    align-items: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: auto;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: auto;

}

nav a {
    display: block;
    color: var(--grey);
    text-align: center;
    padding: 1rem;
    font-family: roboto;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: var(--orange);
}

header {
    background-color: var(--secondaryBlack);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header h1 {
    flex: auto;
    color: var(--white);
    font-family: roboto;
    font-size: 1.5em;
    align-items: flex-start;
}

main h1 {
    text-align: center;
}

.temple-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: var(--secondaryBlack);
    color: var(--grey);
    text-align: center;
    padding: 1rem;
    font-family: roboto;
}